/* 
======= DEFAULT CSS =======
*/ 
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.container {
    position: relative;
    overflow: hidden;
    display: none;
}
.container,
.clickScreen,
.border {
    width: 300px;
    height: 600px;
    box-sizing: border-box;
}
.container div,
.container img {
    position: absolute;
} 
.border {
    border: 1px solid #ccc;
}
/* 
======= CUSRTOM CSS =======
*/
.clickScreen, 
.replayBtn, 
.ctaContainer {
    cursor: pointer;
} 

.replayBtn {
    top: 5px;
    right: 5px;
    width: 16px;
}

.replayBtn img {
    top:8514px;
    left: -203px;
}
.ctaContainer {
    width: 300px;
    height: 600px;
}
.ctaBg {
    width: 116px;
    height: 28px;
    left: 0;
    top: 0;
    background: #f1f1f1;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}
.cta {
    left: 22px;
    top: 9px;
}

/* seq 1*/
.logo {
    top: 566px;
    left: 38px;
}

.choose {
    top: -77px;
    left: 30px;
}

.q7 {
    top: 63px;
    left: 272px;
}

.q7Txt {
    top: 150px;
    left: 375px;
}

.a6 {
    top: 228px;
    left: -172px;
}

.a6Txt {
    top: 313px;
    left: -272px;
}

.s8 {
    top: 409px;
    left: 377px;
}

.s8Txt {
    top: 493px;
    left: 372px;
}
/* seq 1*/

/* seq 2*/
.q7-2 {
    top: 66px;
    left: 300px;
}

.q7Txt-2 {
    top: 220px;
    left: -276px;
}

.premium {
    top: 276px;
    left: 352px;
}

.price1 {
    top: 312px;
    left: -300px;
}

.pplus {
    top: 354px;
    left: 344px;
}

.price2 {
    top: 395px;
    left: -300px;
}

.prestige {
    top: 443px;
    left: 348px;
}

.price3 {
    top: 480px;
    left: -396px;
}

.road {
    top: -299px;
    left: -6000px;
}

.q7r {
    top: 135px;
    left: 350px;
}

.start {
    top: -65px;
    left: 25px;
}


.left {
    top: 114px;
    left: 6px;
    opacity: 0;
}

.right {
    top: 109px;
    left: 100px;
    opacity: 0;
}
/* seq 2*/

/* seq 3*/

.a6-2 {
    top: 66px;
    left: 300px;
}

.a6Txt-2 {
    top: 220px;
    left: -276px;
}

.premium2 {
    top: 276px;
    left: 352px;
}

.price11 {
    top: 312px;
    left: -300px;
}

.pplus2 {
    top: 354px;
    left: 344px;
}

.price22 {
    top: 395px;
    left: -300px;
}

.prestige2 {
    top: 443px;
    left: 348px;
}

.price32 {
    top: 480px;
    left: -396px;
}


.a6-p {
    top: 68px;
    left: 315px;
}

.forward {
    top: -107px;
    left: 140px;
}

.backBtn2 {
    top: -107px;
    left: 140px;
}

/* seq 3*/

/* seq 4*/

.s8-2 {
    top: 66px;
    left: 300px;
}

.s8Txt-2 {
    top: 220px;
    left: -276px;
}

.premium22 {
    top: 276px;
    left: 352px;
}

.price112 {
    top: 312px;
    left: -300px;
}

.pplus22 {
    top: 354px;
    left: 344px;
}

.price222 {
    top: 395px;
    left: -300px;
}

.prestige22 {
    top: 443px;
    left: 348px;
}

.price322 {
    top: 480px;
    left: -396px;
}


/* seq 4*/
