/* 
======= DEFAULT CSS =======
*/ 
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.container {
    position: relative;
    overflow: hidden;
    display: none;
}
.container,
.clickScreen,
.border {
    width: 728px;
    height: 90px;
    box-sizing: border-box;
}
.container div,
.container img {
    position: absolute;
} 
.border {
    border: 1px solid #ccc;
}
/* 
======= CUSRTOM CSS =======
*/
.clickScreen, 
.replayBtn, 
.ctaContainer {
    cursor: pointer;
} 

.replayBtn {
    top: 5px;
    right: 5px;
    width: 16px;
}

.replayBtn img {
    top: 149px;
    left: -270px;
}
.ctaContainer {
    width: 300px;
    height: 600px;
}
.ctaBg {
    width: 116px;
    height: 28px;
    left: 0;
    top: 0;
    background: #f1f1f1;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}
.cta {
    left: 22px;
    top: 9px;
}

/* seq 1*/

.q7 {
    top: -220px;
    left: 20px;
}

.q7Txt {
    top: -101px;
    left: 43px;
}

.a6 {
    top: -119px;
    left: 314px;
}

.a6Txt {
    top: -101px;
    left: 338px;
}

.s8 {
    top: -118px;
    left: 586px;
}

.s8Txt {
    top: -101px;
    left: 597px;
}

.logo {
    top: 73px;
    left: 587px;
}

.choose1 {
    top: -105px;
    left: 172px;
}

.choose2 {
    top: -105px;
    left: 451px;
}

/* seq 1*/

/* seq 2*/
.q7-2 {
    top: -103px;
    left: 73px;
}

.q7Txt-2 {
    top: -101px;
    left: 1px;
}

.premium {
    top: -104px;
    left: 262px;
}

.pplus {
    top: -105px;
    left: 527px;
}

.prestige {
    top: -134px;
    left: 396px;
}

.premiumPrice {
    top: 227px;
    left: 278px;
}

.ppPrice {
    top: 227px;
    left: 578px;
}

.prestigePrice {
    top: 157px;
    left: 414px;
}

.start {
    top: 47px;
    left: 262px; 
    opacity: 0;
} 

.road {
    top: -100px;
    left: -1470px;
}

.q7r {
    top: 35px;
    left: 750px;
}

.sea {
    top: -5px;
    left: 640px;
    opacity: 0;
}
/* seq 2*/

/* seq 3*/
.a6-2 {
    top: -103px;
    left: 64px;
}

.a6Txt-2 {
    top: -101px;
    left: 1px;
}

.premium1 {
    top: -104px;
    left: 262px;
}

.pplus1 {
    top: -105px;
    left: 527px;
}

.prestige1 {
    top: -134px;
    left: 396px;
}

.premiumPrice1 {
    top: 227px;
    left: 278px;
}

.ppPrice1 {
    top: 227px;
    left: 578px;
}

.prestigePrice1 {
    top: 157px;
    left: 414px;
}

.a6-p {
    top: 104px;
    left: 82px;
}

.back {
    top: 258px;
    left: 8px;
}

.forward {
    top: -256px;
    left: 8px;
}
/* seq 3*/

/* seq 4*/

.s8-2 {
    top: -103px;
    left: 78px;
}

.s8Txt-2 {
    top: -101px;
    left: 1px;
}

.premium11 {
    top: -104px;
    left: 262px;
}

.pplus11 {
    top: -105px;
    left: 527px;
}

.prestige11 {
    top: -134px;
    left: 396px;
}

.premiumPrice11 {
    top: 227px;
    left: 278px;
}

.ppPrice11 {
    top: 227px;
    left: 578px;
}

.prestigePrice11 {
    top: 157px;
    left: 414px;
}

.left {
    top: 30px;
    left: 72px;
    opacity: 0;
}

.right {
    top: 0px;
    left: 105px;
    opacity: 0;
}

/* seq 4*/
